{{!-- Colors --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
					<strong class="text-lg">For more: <a href="https://getbootstrap.com/docs/4.0/utilities/colors/" target="_blank">Bootstrap color docs</a></strong>
				</div>
		</div>
		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Background Colors</h4>
		</div>

		<div class="col-6">
			<div class="p-3 mb-4 bg-primary text-white">.bg-primary</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-primary-light text-primary-dark">.bg-primary-light</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-primary-dark text-white">.bg-primary-dark</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-success text-white">.bg-success</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-danger text-white">.bg-danger</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-warning text-white">.bg-warning</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-info text-white">.bg-info</div>
		</div>

		<div class="col-24">
			<hr class="my-4" />
		</div>

		<div class="col-6">
			<div class="p-3 mb-4 bg-gray-darker text-white">.bg-gray-darker</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-gray-dark text-white">.bg-gray-dark</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-gray text-white">.bg-gray</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-gray-light text-white">.bg-gray-light</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-gray-lighter text-gray-dark">.bg-gray-lighter</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-gray-lightest text-gray-dark">.bg-gray-lightest</div>
		</div>
		<div class="col-6">
			<div class="p-3 mb-4 bg-white text-dark">.bg-white</div>
		</div>

		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Background Colors + hover states</h4>
		</div>

		<div class="col-6">
			<a href="#" class="bg-primary d-block"><div class="p-3 mb-4 text-white">.bg-primary</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-primary-light d-block text-primary-dark"><div class="p-3 mb-4">.bg-primary-light</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-primary-dark d-block"><div class="p-3 mb-4 text-white">.bg-primary-dark</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-success d-block"><div class="p-3 mb-4 text-white">.bg-success</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-danger d-block"><div class="p-3 mb-4 text-white">.bg-danger</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-warning d-block"><div class="p-3 mb-4 text-white">.bg-warning</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-info d-block"><div class="p-3 mb-4 text-white">.bg-info</div></a>
		</div>

		<div class="col-24">
			<hr class="my-4" />
		</div>

		<div class="col-6">
			<a href="#" class="bg-gray-darker d-block"><div class="p-3 mb-4 text-white">.bg-gray-darker</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-gray-dark d-block"><div class="p-3 mb-4 text-white">.bg-gray-dark</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-gray d-block"><div class="p-3 mb-4 text-white">.bg-gray</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-gray-light d-block"><div class="p-3 mb-4 text-white">.bg-gray-light</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-gray-lighter d-block"><div class="p-3 mb-4 text-gray-dark">.bg-gray-lighter</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-gray-lightest d-block"><div class="p-3 mb-4 text-gray-dark">.bg-gray-lightest</div></a>
		</div>
		<div class="col-6">
			<a href="#" class="bg-white d-block"><div class="p-3 mb-4 text-dark">.bg-white</div></a>
		</div>

		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Background Gradients</h4>
		</div>

		<div class="col-6">
			<div class="bg-gradient-primary p-3 mb-4 text-white">.bg-gradient-primary</div></a>
		</div>

		<div class="col-6">
			<div class="bg-gradient-gray p-3 mb-4">.bg-gradient-gray</div></a>
		</div>

		<div class="col-6">
			<div class="bg-gradient-gray-inverse p-3 mb-4">.bg-gradient-gray-inverse</div></a>
		</div>

	</div>
</div>