{{!-- Button --}}

<div class="container">
	<div class="row">
		<div class="col-24 mt-xl">
			{{> @button className="mt-lg btn-primary btn-lg" text="big button"}}
			{{> @button className="mt-lg btn-outline-primary btn-lg" text="big button"}}
			{{> @button className="mt-lg btn-primary" text="default button"}}
			{{> @button className="mt-lg btn-outline-primary" text="default button"}}
			{{> @button className="mt-lg btn-primary btn-sm" text="small button"}}
			{{> @button className="mt-lg btn-outline-primary btn-sm" text="small button"}}
		</div>
	</div>
</div>