{{!-- title + img/icon --}}
<div>
	<img src="https://emojipedia-us.s3.amazonaws.com/thumbs/320/apple/96/fire_1f525.png" />
	{{#if tag}}
		<{{tag}}>{{text}}</{{tag}}>
	{{/if}}
	{{#else}}
		<p>text</p>
	{{/else}}
</div>