{{!-- Alerts --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
					<strong class="text-lg">For more: <a href="https://getbootstrap.com/docs/4.0/components/alerts/" target="_blank">Bootstrap Alerts docs</a></strong>
				</div>
		</div>
		<div class="col-24 mt-xl">
			<p class="text-info mt-4"><strong>— Alert colors</strong></p>
			<div class="alert alert-primary" role="alert">
				This is a primary alert — <a href="#" class="alert-link">check it out!</a>
			</div>
			<div class="alert alert-success" role="alert">
				This is a success alert — <a href="#" class="alert-link">check it out!</a>
			</div>
			<div class="alert alert-danger" role="alert">
				This is a danger alert — <a href="#" class="alert-link">check it out!</a>
			</div>
			<div class="alert alert-warning" role="alert">
				This is a warning alert — <a href="#" class="alert-link">check it out!</a>
			</div>
			<div class="alert alert-info" role="alert">
				This is a info alert — <a href="#" class="alert-link">check it out!</a>
			</div>
		</div>
</div>