// for news details

.article-img {
	@include media-breakpoint-up(sm) {
		border-radius: $border-radius-lg;
	}
}

.article-circle {
	z-index: -1;
	left: -$spacer * 3;
	top: -$spacer * 1.5;
	@include size(4rem);

	@include media-breakpoint-up(lg) {
		@include size(5rem);
		left: -$spacer * 4;
	}
}

.article-separator {
	width: 30vw;
	height: $spacer / 2;

	@include media-breakpoint-up(sm) {
		width: 20vw;
	}

	@include media-breakpoint-up(lg) {
		width: 16vw;
		height: $spacer;
	}
}

.article-separator-left {
	left: -$spacer / 2;
	bottom: -$spacer * 2;

	@include media-breakpoint-up(sm) {
		left: -$spacer * 3;
	}

	@include media-breakpoint-up(lg) {
		left: -$spacer * 5;
		bottom: -$spacer * 3;
	}
}

.article-bar {

	@include media-iPhone-X {
	  padding-bottom: env(safe-area-inset-bottom); // temporary fix for iPhone X until there's a better way 🙄
	}

	z-index: $zindex-sticky - 1;
	border-top-right-radius: $border-radius-lg;
	border-top-left-radius: $border-radius-lg;
	box-shadow: 0 -4px 16px -4px rgba(black, 0.08);
}

twitterwidget {
	@extend .mx-auto; // twitter embed is really strange
}