{{!-- Admin --}}

{{> @navbar-admin className="sticky-top" }}

<div class="socrates-content">

	<div class="container pt-4">
		<div class="row">
			<div class="col-24 mt-4">
				<div class="d-flex">
					<div class="avatar mt-2 size-5 mr-4" style="background-image: url(https://images.onefootball.com/default_gallery-icon.png);"></div>
					<div>
						<h1 class="font-weight-bold">Trending News Gallery</h1>
						<p class="text-muted">Curated by Onefootball Team</p>
					</div>
					<div class="ml-auto align-self-center">
						<div class="btn-group mt-2" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-outline-danger">Delete</button>
							<button type="button" class="btn btn-primary">Publish</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-24 mt-7">
				<div class="d-flex mb-3">
					<dt class="h4 text-info">— Information and targeting:</dt>
					<div class="ml-auto align-self-center">
						<div class="custom-control custom-checkbox d-inline-block mr-5">
							<input type="checkbox" id="customRadio2" name="customRadio" class="custom-control-input">
							<label class="custom-control-label text-danger" for="customRadio2">Disable Gallery</label>
						</div>
						<a href="#" class="btn btn-outline-info btn-sm float-right">Edit</a>
					</div>
				</div>
				<div class="border p-4 rounded-lg">
					<dl class="row m-0">
						<dt class="col-sm-4 mt-3">Language:</dt>
						<dd class="col-sm-8 mt-3">German</dd>
						<dt class="col-sm-4 mt-3">Published to:</dt>
						<dd class="col-sm-8 mt-3">Team</dd>
						<dt class="col-sm-4 mt-3">Rank:</dt>
						<dd class="col-sm-8 mt-3">Before Favorite teams area — Rank #1</dd>
						<dt class="col-sm-4 mt-3">ID:</dt>
						<dd class="col-sm-8 mt-3">18274162</dd>
						<dt class="col-sm-4 mt-3">Index:</dt>
						<dd class="col-sm-8 mt-3">#2</dd>
						<dt class="col-sm-4 mt-3">Content Type:</dt>
						<dd class="col-sm-8 mt-3">News Topic Gallery</dd>
						<dt class="col-sm-4 mt-3">Entity:</dt>
						<dd class="col-sm-8 mt-3 mb-0">
							<img src="https://images.onefootball.com/icons/teams/164/263.png" class="size-2 mr-2">Paris SG
							<span class="badge badge-info badge-pill ml-2">Official</span>
						</dd>
						<dt class="col-sm-4 mt-3"> </dt>
						<dd class="col-sm-8 mt-3"> </dd>
						<dt class="col-sm-4 mt-3">Push link:</dt>
						<dd class="col-sm-8 mt-3 mb-0">
							<a href="#" class="text-success" data-toggle="tooltip" data-placement="top" title="Click to copy">
								onefootball://editorial/18274162?language=de
								<img class="text-success inject-me icon size-lg" src="{{path '/assets/img/icons/ic_content_copy_24px.svg' }}" />
							</a>
						</dd>
						<dt class="col-sm-4 mt-3">Description:</dt>
						<dd class="col-sm-8 mt-3">All the news that is fit to curate. Native and magazine only.</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

	{{> @admin-import-content}}

	<div class="container mt-7">
		<div class="row">
			<div class="col-24">
				<div class="d-flex mb-3">
					<h4 class="text-info">— Gallery Content
						<span class="text-info">
							<img class="inject-me icon text-info" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
						</span>
						<small class="text-gray-light">3 items</small>
					</h4>
					<div class="ml-auto align-self-center">
						<a href="#" class="btn btn-outline-danger btn-sm float-right" data-toggle="modal" data-target="#modal-alert">Remove all content</a>
					</div>
				</div>
			</div>
		</div>
				{{!-- <div class="border rounded-lg px-4 py-2">
					<div class="row">
						<div class="col-sm-16">
							Item information
						</div>
						<div class="col-sm-2 text-center">
							Link
						</div>
						<div class="col-sm-2 text-center">
							Edit
						</div>
						<div class="col-sm-2 text-center">
							Remove
						</div>
						<div class="col-sm-2 text-center">
							Move
						</div>
					</div>
				</div>
			</div> --}}

			{{> @admin-content-item}}
			{{> @admin-content-item}}
			{{> @admin-content-item}}
		</div>
	</div>

</div> {{!-- /.socrates-content --}}

{{> @footer-admin }}

{{> @modal-alert id="modal-alert" }}