{{!-- Admin --}}

{{> @navbar-admin className="sticky-top" }}

<div class="socrates-content">

	{{> @admin-gallery-info}}

	{{> @admin-import-match}}

	<div class="container mt-7">
		<div class="row">
			<div class="col-24">
				<div class="d-flex mb-3">
					<h5 class="text-info">— Gallery Content
						<span class="text-info">
							<img class="inject-me icon text-info" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
						</span>
						<small class="text-gray-light">3 items</small>
					</h5>
					<div class="ml-auto align-self-center">
						<a href="#" class="btn btn-outline-danger btn-sm float-right" data-toggle="modal" data-target="#modal-alert">Remove all content</a>
					</div>
				</div>
			</div>
		</div>
			{{> @admin-match-item}}
			{{> @admin-match-item}}
			{{> @admin-match-item}}
		</div>
	</div>

</div> {{!-- /.socrates-content --}}

{{> @footer-admin }}

{{> @modal-alert id="modal-alert" actionPrimary="Delete" actionSecondary="Close"}}