{{!-- Admin --}}

{{> @navbar-admin className="sticky-top" }}

<div class="socrates-content">

	{{> @admin-gallery-info}}

	{{> @admin-import-content}}

	<div class="container mt-6">
		<div class="row">
			<div class="col-24">
				<div class="d-flex mb-3">
					<h5 class="text-info">— Gallery Content
						<span class="text-info">
							<img class="inject-me icon text-info" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
						</span>
						<small class="text-gray-light">3 items</small>
					</h5>
					<div class="ml-auto align-self-center">
						<a href="#" class="btn btn-outline-danger btn-sm float-right" data-toggle="modal" data-target="#modal-alert">Remove all content</a>
					</div>
				</div>
			</div>
		</div>
		{{> @admin-content-item}}
		{{> @admin-content-item}}
		{{> @admin-content-item}}
	</div>
</div>

<div class="container pt-3">
	<div class="row">
		<div class="col-24 mt-4">
			<div class="d-flex">
				<div class="ml-auto align-self-center">
					<div class="align-self-end btn-group mt-2" role="group" aria-label="Basic example">
						<a href="#" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-alert">Delete</a>
						<a href="#" class="btn btn-secondary">Unpublish</a>
						<a href="#" class="btn btn-primary">Publish</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div> {{!-- /.socrates-content --}}

{{> @footer-admin }}

{{> @modal-alert id="modal-alert" actionPrimary="Delete" actionSecondary="Close"}}