{{!-- Admin --}}

{{> @navbar-admin className="sticky-top" }}

<div class="socrates-content">
	<div class="container">
		<div class="row mt-7">
			<div class="col-24 mx-auto">
				<h3 class="font-brand text-center">Login to your Newsdesk Admin</h3>

				<div class="row">
					<div class="col-24 col-lg-8 mx-auto mt-7">

						<p class="text-center">
							<a href="#" class="btn btn-lg btn-block btn-facebook mx-auto">Connect with Facebook</a>
						</p>
						<p class="text-lg text-center text-gray-light mt-5 mb-0">OR</p>

						<form>
							<div class="form-group mt-5">
								<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username / Email">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
							<button type="submit" class="btn btn-block btn-primary mx-auto mt-4 btn-lg">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-7">
			<div class="col-24">
				<p class="m-0 text-center"><span class="badge badge-info badge-pill"><strong>Revision:</strong> 67891a4</span></p>
			</div>
		</div>
	</div>
</div>

{{> @footer-admin }}