{{!-- News Details --}}
{{!-- URL: https://www.onefootball.com/en/news/10-times-ronaldinho-blew-our-minds-en-18511046?variable=20180117 --}}

{{> @navbar-consumer className="sticky-top"}}

<div class="container">
	<div class="row">
		<div class="col-24 p-0 p-sm-3 col-sm-18 col-lg-16 mx-auto">
			<img class="img-fluid mt-md-4 mt-lg-6 article-img" src="https://oneftbl-cms.imgix.net/https%3A%2F%2Fen.onefootball.com%2Fwp-content%2Fuploads%2Fsites%2F10%2F2018%2F01%2FBarcelona-v-Real-Madrid-La-Liga-1516180328-e1516180370149.jpg?fit=max&q=75&w=1080&s=0312b68e9576f1bdc38de13af8252ea4" alt="cover">
		</div>
		<div class="col-24 col-sm-20 col-lg-18 mx-auto">
			<h1 class="display-3 font-weight-heavy line-height-sm position-relative m-0 mt-5 mt-lg-6">
				<div class="article-circle position-absolute rounded-circle bg-primary-light"></div>
				🎥 10 times Ronaldinho blew our minds
			</h1>
		</div>
		<div class="col-24 col-sm-18 col-lg-16 mx-auto mt-4 mt-lg-6">
			<span class="font-weight-bold text-gray-dark">
				<img class="icon size-sm mr-1" src="{{path '/assets/img/brand-icon.svg' }}" />Onefootball
			</span>
			<span class="mx-1 text-gray-light">
				<img class="inject-me icon text-gray-light" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
			</span>
			<span class="font-weight-bold text-gray-light">Alex Mott</span>
			<div class="mt-1">
				<span class="text-gray-light">Today</span>
				<span class="mx-1 text-gray-light">
					<img class="inject-me icon text-gray-light" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
				</span>
				<span class="text-gray-light">12:40 PM</span>
			</div>
		</div>
		<div class="col-24 col-sm-18 col-lg-16 mx-auto mt-4 mb-4 mt-lg-5 mb-lg-5">
			<p class="lead text-gray-dark line-height-lg font-weight-bold mb-2 mb-lg-3">
				Ronaldinho might be the single most skilful footballer of all time.
			</p>
			<div class="article-separator article-separator-left position-absolute bg-primary-light rounded"></div>
		</div>

		<div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
			<p class="text-article line-height-lg m-0">
				On Tuesday his brother announced that the Brazil and Barcelona legend had finally called it a day after 20 glorious years as a professional. Here we look back, in no particular order, at his 10 greatest moments.
			</p>
		</div>

		<div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
			<h1 class="m-0 font-weight-bold mb-3">Fooling David Seaman</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ExUX7MBk5UM?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
			<h1 class="m-0 font-weight-bold mb-3">That goal at Stamford Bridge</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9O3otJu2FWE?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
			<h1 class="m-0 font-weight-bold mb-3">Scoring the perfect free kick … at Portsmouth</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GAy2A6sUefM?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
			<h1 class="m-0 font-weight-bold mb-3">Doing what he wanted versus Athletic Bilbao</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PDcJC8v3BZE?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
			<h1 class="m-0 font-weight-bold mb-3">Brining the elastico to our attention</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1_fqL_bgNiM?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>

		<div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
			<h1 class="m-0 font-weight-bold mb-3">His masterclass at Bernabéu against Real Madrid</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ydb2uX_JOy0?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
		</div>


	</div> {{!-- /.row --}}

</div> {{!-- /.container --}}

<div class="container mt-lg-6">
  <div class="row">
    <div class="col-24 col-sm-20 col-lg-18 mx-auto">
      <hr class="mt-3 mb-5" />
      <h1 class="m-0 font-weight-bold">Mentioned in the Article</h1>
    </div>
  </div>
</div>
{{> @entity-entries className="col-24 col-sm-20 col-lg-18 mx-auto" }}

{{> @article-share-bar className="mt-4 mt-lg-6"}}

{{> @related-news className="bg-gradient-gray" title="Related News" }}

{{> @footer}}