<div class="container mt-7">
	<div class="row">
		<div class="col-24">
			<h4 class="text-info mb-3">— Import Content</h4>
			<div class="p-4 bg-gray-lightest rounded-lg">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Link or item ID" aria-label="Link or item ID" />
				  <div class="input-group-append">
				    <button class="btn btn-primary" type="button">Import</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>