
<div class="row mt-3">
	<div class="col-sm-18">
		<div class="row">
			<div class="col-9 align-self-center">
				<h5 class="m-0 text-right">
					Paris SG<img src="https://images.onefootball.com/icons/teams/164/263.png" class="size-2 ml-3" />
				</h5>
			</div>
			<div class="col-6 align-self-center">
				<div class="bg-gray-lightest p-3 rounded-lg text-center">
					<p class="m-0 text-default">Novermber 12 2018</p>
					<p class="m-0 text-gray">18:30</p>
				</div>
			</div>
			<div class="col-9 align-self-center">
				<h5 class="m-0">
					<img src="https://images.onefootball.com/icons/teams/164/5.png" class="size-2 mr-3" /> FC Barcelona
				</h5>
			</div>
		</div>
	</div>

	<div class="col-sm-2 align-self-center">
		<a href="#" class="text-gray-light">
			<img class="inject-me icon size-2 mx-auto d-block" src="{{path '/assets/img/icons/ic_content_copy_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Click to copy link" />
		</a>
	</div>

	<div class="col-sm-2 align-self-center">
		<a href="#" class="text-gray-light">
			<img class="inject-me icon size-2 mx-auto d-block" src="{{path '/assets/img/icons/ic_cursor_move_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Rearrange" />
		</a>
	</div>

	<div class="col-sm-2 align-self-center">
		<a href="#" class="text-danger">
			<img class="inject-me icon size-2 mx-auto d-block" src="{{path '/assets/img/icons/ic_close_circle_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Remove from Gallery" />
		</a>
	</div>

	<div class="col-24">
		<hr class="mt-4 mb-3" />
	</div>

</div>