{{!-- Spacing --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
					For more: <a href="https://getbootstrap.com/docs/4.0/utilities/spacing/" target="_blank">Bootstrap spacing docs</a>
				</div>
		</div>
		<div class="col-24">
			<h4 class="text-info mt-4 mb-3 font-brand">— Spacing:</h4>
			<p>Base <kbd>$spacer</kbd> is 8</p>
			<p>Spacing utilities that apply to all breakpoints, from <kbd>xs</kbd> to <kbd>xl</kbd>, have no breakpoint abbreviation in them. This is because those classes are applied from <kbd>min-width: 0</kbd> and up, and thus are not bound by a media query. The remaining breakpoints, however, do include a breakpoint abbreviation.</p>

			<p>The classes are named using the format <kbd>{property}{sides}-{size}</kbd> for <kbd>xs</kbd> and <kbd>{property}{sides}-{breakpoint}-{size}</kbd> for <kbd>sm</kbd>, <kbd>md</kbd>, <kbd>lg</kbd>, and <kbd>xl</kbd>.</p>

			<p>Where <em>property</em> is one of:</p>

			<ul>
			  <li><kbd>m</kbd> - for classes that set <kbd>margin</kbd></li>
			  <li><kbd>p</kbd> - for classes that set <kbd>padding</kbd></li>
			</ul>

			<p>Where <em>sides</em> is one of:</p>

			<ul>
			  <li><kbd>t</kbd> - for classes that set <kbd>margin-top</kbd> or <kbd>padding-top</kbd></li>
			  <li><kbd>b</kbd> - for classes that set <kbd>margin-bottom</kbd> or <kbd>padding-bottom</kbd></li>
			  <li><kbd>l</kbd> - for classes that set <kbd>margin-left</kbd> or <kbd>padding-left</kbd></li>
			  <li><kbd>r</kbd> - for classes that set <kbd>margin-right</kbd> or <kbd>padding-right</kbd></li>
			  <li><kbd>x</kbd> - for classes that set both <kbd>*-left</kbd> and <kbd>*-right</kbd></li>
			  <li><kbd>y</kbd> - for classes that set both <kbd>*-top</kbd> and <kbd>*-bottom</kbd></li>
			  <li>blank - for classes that set a <kbd>margin</kbd> or <kbd>padding</kbd> on all 4 sides of the element</li>
			</ul>

			<p>Where <em>size</em> is one of:</p>

			<ul>
			  <li><kbd>0</kbd> - for classes that eliminate the <kbd>margin</kbd> or <kbd>padding</kbd> by setting it to <kbd>0</kbd></li>
			  <li><kbd>1</kbd> - for classes that set the <kbd>margin</kbd> or <kbd>padding</kbd> to <kbd>$spacer * .5</kbd> = <kbd>4px</kbd></li>
			  <li><kbd>2</kbd> - for classes that set the <kbd>margin</kbd> or <kbd>padding</kbd> to <kbd>$spacer * 1</kbd> = <kbd>8px</kbd></li>
			  <li><kbd>3</kbd> - for classes that set the <kbd>margin</kbd> or <kbd>padding</kbd> to <kbd>$spacer * 2</kbd> = <kbd>16px</kbd></li>
			  <li><kbd>4</kbd> - for classes that set the <kbd>margin</kbd> or <kbd>padding</kbd> to <kbd>$spacer * 3</kbd> = <kbd>24px</kbd></li>
			  <li><kbd>5</kbd> - for classes that set the <kbd>margin</kbd> or <kbd>padding</kbd> to <kbd>$spacer * 4</kbd> = <kbd>32px</kbd></li>
			  <li><kbd>6</kbd> - for classes that set the <kbd>margin</kbd> or <kbd>padding</kbd> to <kbd>$spacer * 5</kbd> = <kbd>40px</kbd></li>
			  <li><kbd>7</kbd> - for classes that set the <kbd>margin</kbd> or <kbd>padding</kbd> to <kbd>$spacer * 8</kbd> = <kbd>64px</kbd></li>
			  <li><kbd>auto</kbd> - for classes that set the <kbd>margin</kbd> to auto</li>
			</ul>

			<p>(You can add more sizes by adding entries to the <kbd>$spacers</kbd> Sass map variable.)</p>

			<h2 id="examples"><div>Examples<a class="anchorjs-link " href="#examples" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div></h2>
		</div>

		<div class="col-8">
			<span class="p-0 bg-gray-light text-gray">.p-0 no padding</span>
		</div>

		<div class="col-8">
			<span class="p-1 bg-gray-light text-gray">.p-1 padding 4px</span>
		</div>

		<div class="col-8">
			<span class="p-2 bg-gray-light text-gray">.p-2 padding 8px</span>
		</div>

		<div class="col-24">
			<hr class="my-4" />
		</div>

		</div>
		<div class="row my-7">

		<div class="col-8">
			<span class="p-3 bg-gray-light text-gray">.p-3 padding 16px</span>
		</div>

		<div class="col-8">
			<span class="p-4 bg-gray-light text-gray">.p-4 padding 24px</span>
		</div>

		<div class="col-8">
			<span class="p-5 bg-gray-light text-gray">.p-5 padding 32px</span>
		</div>

		<div class="col-24 mt-5">
			<hr class="my-4" />
		</div>

		</div>
		<div class="row py-4">

		<div class="col-8">
			<span class="p-6 bg-gray-light text-gray">.p-6 padding 40px</span>
		</div>

		<div class="col-8">
			<span class="p-7 bg-gray-light text-gray">.p-7 padding 64px</span>
		</div>

	</div>
</div>