{{!-- Grid --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
					For more: <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">Bootstrap Grid System docs</a>
				</div>
		</div>
		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Grid</h4>
		</div>

		<div class="col-24">
			<p>Socrates Grid is mostly based on Bootstrap's grid. Main differneces are it's <kbd>24</kbd> cols NOT 12. It's built via Flexbox so all Bootstrap's flexbox utilities and classes work perfectly with it</p>
			<p>It has 5 break points:</p>
			<table class="table table-bordered table-striped">
			  <thead>
			    <tr>
			      <th></th>
			      <th class="text-center">
			        Extra small<br>
			        <small>&lt;576px</small>
			      </th>
			      <th class="text-center">
			        Small<br>
			        <small>≥576px</small>
			      </th>
			      <th class="text-center">
			        Medium<br>
			        <small>≥768px</small>
			      </th>
			      <th class="text-center">
			        Large<br>
			        <small>≥992px</small>
			      </th>
			      <th class="text-center">
			        Extra large<br>
			        <small>≥1200px</small>
			      </th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th class="text-nowrap" scope="row">Max container width</th>
			      <td>None (auto)</td>
			      <td>540px</td>
			      <td>720px</td>
			      <td>960px</td>
			      <td>1140px</td>
			    </tr>
			    <tr>
			      <th class="text-nowrap" scope="row">Class prefix</th>
			      <td><code>.col-</code></td>
			      <td><code>.col-sm-</code></td>
			      <td><code>.col-md-</code></td>
			      <td><code>.col-lg-</code></td>
			      <td><code>.col-xl-</code></td>
			    </tr>
			    <tr>
			      <th class="text-nowrap" scope="row"># of columns</th>
			      <td colspan="5">24</td>
			    </tr>
			    <tr>
			      <th class="text-nowrap" scope="row">Gutter width</th>
			      <td colspan="5">24px (12px on each side of a column)</td>
			    </tr>
			    <tr>
			      <th class="text-nowrap" scope="row">Nestable</th>
			      <td colspan="5">Yes</td>
			    </tr>
			    <tr>
			      <th class="text-nowrap" scope="row">Column ordering</th>
			      <td colspan="5">Yes</td>
			    </tr>
			  </tbody>
			</table>
		</div>

	</div>

	<div class="row">
		<div class="col-24">
			<h4 class="text-info mt-4 mb-3 font-brand">— Grid examples</h4>
		</div>
	</div>

	<div class="row mt-4">
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	  <div class="col-lg-1"><div class="bg-gray-lighter text-center">1</div></div>
	</div>
	<div class="row mt-4">
		<div class="col-8"><div class="bg-gray-lighter text-center">8 cols</div></div>
		<div class="col-8"><div class="bg-gray-lighter text-center">8 cols</div></div>
		<div class="col-8"><div class="bg-gray-lighter text-center">8 cols</div></div>
	</div>
	<div class="row mt-4">
		<div class="col-12"><div class="bg-gray-lighter text-center">12 cols</div></div>
		<div class="col-12"><div class="bg-gray-lighter text-center">12 cols</div></div>
	</div>
</div>