{{!-- Button --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
				For more: <a href="https://getbootstrap.com/docs/4.0/components/buttons/" target="_blank">Bootstrap buttons docs</a>
			</div>
		</div>
		<div class="col-24 mt-5">
			<p class="text-info mt-4"><strong>— Buttons</strong></p>
			<a href="#" class="mt-2 btn btn-primary">Primary</a>
			<a href="#" class="mt-2 btn btn-primary-dark">Primary Dark</a>
			<a href="#" class="mt-2 btn btn-primary-light">Primary Light</a>
			<a href="#" class="mt-2 btn btn-danger">Danger</a>
			<a href="#" class="mt-2 btn btn-warning">Warning</a>
			<a href="#" class="mt-2 btn btn-success">Success</a>
			<a href="#" class="mt-2 btn btn-info">Info</a>
			<a href="#" class="mt-2 btn btn-secondary">Secondary</a>
			<div class="btn-group mt-2" role="group" aria-label="Basic example">
				<a href="#" class="btn btn-secondary">Left</a>
				<a href="#" class="btn btn-secondary">Middle</a>
				<a href="#" class="btn btn-secondary">Right</a>
			</div>
		</div>
		<div class="col-24 mt-5">
			<hr class="mt-5" />
			<p class="text-info mt-4"><strong>— Buttons Outline</strong></p>
			<a href="#" class="mt-2 btn btn-outline-primary">Primary</a>
			<a href="#" class="mt-2 btn btn-outline-danger">Danger</a>
			<a href="#" class="mt-2 btn btn-outline-warning">Warning</a>
			<a href="#" class="mt-2 btn btn-outline-success">Success</a>
			<a href="#" class="mt-2 btn btn-outline-info">Info</a>
			<div class="btn-group mt-2" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-outline-danger">Secondary action</button>
				<button type="button" class="btn btn-outline-primary">Primary action</button>
			</div>
		</div>
		<div class="col-24 mt-5">
			<hr class="mt-5" />
			<p class="text-info mt-4"><strong>— Button sizes</strong></p>
			<a href="#" class="mt-2 btn btn-primary btn-lg">This's a big button</a>
			<a href="#" class="mt-2 btn btn-outline-primary btn-lg">This's a big button</a>
			<a href="#" class="mt-2 btn btn-primary">default button</a>
			<a href="#" class="mt-2 btn btn-outline-primary">default button</a>
			<a href="#" class="mt-2 btn btn-primary btn-sm">small button</a>
			<a href="#" class="mt-2 btn btn-outline-primary btn-sm">small button</a>
		</div>
		<div class="col-24 mt-5">
			<hr class="mt-5" />
			<p class="text-info mt-4"><strong>— Third Party</strong></p>
			<a href="#" class="btn btn-facebook">
			<img class="icon size-lg inject-me text-white" src="{{path '/assets/img/icons/ic_facebook.svg' }}" />
			Facebook button</a>
			<a href="#" class="btn btn-twitter">twitter button</a>
		</div>

		<div class="col-24 mt-5">
			<hr class="mt-5" />
			<p class="text-info mt-4"><strong>— Fancy buttons</strong></p>
			<a href="#" class="btn btn-primary elevated-hover">Animated button</a>
			<a href="#" class="btn btn-primary-light elevated-hover">Animated button</a>
			<a href="#" class="btn btn-primary-dark elevated-hover">Animated button</a>
		</div>

		<div class="col-24 mt-5">
			<p class="text-info mt-4"><strong>— Buttons Disabled state</strong></p>
			<a href="#" class="mt-2 btn disabled btn-primary">Disabled</a>
			<a href="#" class="mt-2 btn disabled btn-outline-primary">Outline Disabled</a>
		</div>
	</div>
</div>