{{!-- Shadows --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
				No Bootstrap docs</strong>
			</div>
		</div>
		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Shadow variations & hover states</h4>
		</div>

		<div class="col-6">
			<div class="rounded-lg p-5 mb-4 bg-white elevated-1">.elevated-1</div>
		</div>
		<div class="col-6">
			<div class="rounded-lg p-5 mb-4 bg-primary text-white elevated-1">.elevated-1</div>
		</div>
		<div class="col-6">
			<div class="rounded-lg p-5 mb-4 bg-white elevated-2">.elevated-2</div>
		</div>
		<div class="col-6">
			<div class="rounded-lg p-5 mb-4 bg-primary text-white elevated-3">.elevated-3</div>
		</div>
		<div class="col-6">
			<div class="rounded-lg p-5 mb-4 bg-info text-white elevated-4">.elevated-4</div>
		</div>

		<div class="col-6">
			<div class="rounded-lg p-5 mb-4 bg-primary-dark text-white elevated-hover">.elevated-hover</div>
		</div>

		<div class="col-6">
			<div class="rounded-lg p-5 mb-4 bg-white elevated-hover">.elevated-hover</div>
		</div>
	</div>
</div>