{{!-- Navbar --}}

<div class="container mt-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
				For more: <a href="https://getbootstrap.com/docs/4.0/components/navbar/" target="_blank">Bootstrap Navbar docs</a>
			</div>
		</div>

		<div class="col-24 mt-5">
			<p class="text-info mt-4"><strong>— Consumer web example</strong></p>
		</div>
	</div>
</div>

{{> @navbar-consumer}}

<div class="container mt-5">
	<div class="row">
		<div class="col-24 mt-5">
			<p class="text-info mt-4"><strong>— Newsdesk navbar example</strong></p>
		</div>
	</div>
</div>

{{> @navbar-admin}}