{{!-- Tabs --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
				For more: <a href="https://getbootstrap.com/docs/4.1/components/navs/#tabs" target="_blank">Bootstrap tabs docs</a>
			</div>
		</div>
		<div class="col-24 mt-5">
			<p class="text-info mt-4"><strong>— Modal basic</strong></p>
		</div>
		<div class="col-24">
			{{> @modal-alert className="show d-block position-relative p-5" actionPrimary="Done" actionSecondary="Close"}}
			{{> @modal-alert className="show d-block position-relative p-5" actionPrimary="One action"}}
		</div>
		<div class="col-24 mt-5">
			<p class="text-info mt-4"><strong>— Modal with search and grid</strong></p>
		</div>
		<div class="col-24">
			{{> @modal-search className="show d-block position-relative p-5" actionPrimary="Done"}}
		</div>
	</div>
</div>