// Extras

.sticky-bottom {
	@supports (position: sticky) {
		position: sticky;
		bottom: 0;
		z-index: $zindex-sticky;
	}
}

// keep foot at the bottom of an short page
.socrates-main {
	min-height: 100vh;
}

.socrates-content {
	flex: 1;
}
// keep foot at the bottom of an short page

.rounded-lg {
	border-radius: $border-radius-lg;
}

// position absolute center
.center-absolute {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

// hide overflow
.overflow-hidden {
	overflow: hidden;
}