// Extras


// keep foot at the bottom of an short page
.socrates-main {
	min-height: 100vh;
}

.socrates-content {
	flex: 1;
}
// keep foot at the bottom of an short page

.rounded-lg {
	border-radius: $border-radius-lg;
}

// scroll on mobile
@include media-breakpoint-down(md) {
	.container-scroll {
		width: 100vw;
		padding-left: 0;
		padding-right: 0;
	}
	.row-scroll {
		width: 100%; /* arbitary for demo only */
		margin: 0;
		white-space: nowrap;
		overflow-y: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		display: block;
	}

	.col-scroll {
		display: inline-block;
	}
}

// position absolute center
.center-absolute {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

// hide overflow
.overflow-hidden {
	overflow: hidden;
}

.rect {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;

	&.rect-16-9 {
		padding-bottom: 56.25%;
	}
	&.rect-4-3 {
		padding-bottom: 75%;
	}

	&.rect-1-1 {
		padding-bottom: 100%;
	}

	@include media-breakpoint-up(lg) {
		&.rect-lg-16-9 {
			padding-bottom: 56.25%;
		}
		&.rect-lg-4-3 {
			padding-bottom: 75%;
		}
		&.rect-lg-1-1 {
			padding-bottom: 100%;
		}
	}
}