// Avatars & sizes

.avatar {
	display: inline-block;
	overflow: hidden; // Ensure page layout in Firefox should images fail to load
	vertical-align: middle;
	background-size: cover; // in case it's used as a background-image
	@include size(1em);
}