.btn {
	cursor: pointer;

	&.dropdown-toggle-split {
		padding-left: .6rem;
    padding-right: 0.9rem;
	}

	&.disabled,
	&:disabled {
		@extend %disabled;
	}

	&.elevated-hover {
		&:hover {
			transform: translateY(-2px);
		}
	}
}

// Custom buttons
.btn-secondary {
	// @include button-outline-variant($brand-gray-darker, $white);
	@include button-variant($brand-gray-lightest, $brand-gray-lightest);
}

.btn-primary-dark {
	@include button-variant($brand-green-dark, $brand-green-dark);
}

.btn-primary-light {
	@include button-variant($brand-green-light, $brand-green-light);
}

// third party social media buttons

.btn-facebook {
	@include button-variant($facebook, $facebook);
}

.btn-twitter {
	@include button-variant($twitter, $twitter);
}

// needs further testing
.btn-group,
.btn-group-vertical {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: 2px;
  }
}