// Background Colors
  @include bg-variant('.bg-primary-dark', $brand-green-dark);
  @include bg-variant('.bg-primary-light', $brand-green-light);
  @include bg-variant('.bg-gray-blue', $brand-gray-blue);
  @include bg-variant('.bg-gray-darker', $brand-gray-darker);
  @include bg-variant('.bg-gray-dark', $brand-gray-dark);
  @include bg-variant('.bg-gray', $brand-gray);
  @include bg-variant('.bg-gray-light', $brand-gray-light);
  @include bg-variant('.bg-gray-lighter', $brand-gray-lighter);
  @include bg-variant('.bg-gray-lightest', $brand-gray-lightest);
  @include bg-variant('.bg-white', $white);

// background Gradients
.bg-gradient-primary {
  background: $brand-gradient-green;
}
.bg-gradient-gray {
  background: $brand-gradient-gray;
}
.bg-gradient-gray-inverse {
  background: $brand-gradient-gray-inverse;
}

// Text Colors
  @include text-emphasis-variant('.text-primary-light', $brand-green-light);
  @include text-emphasis-variant('.text-primary-dark', $brand-green-dark);
  @include text-emphasis-variant('.text-gray', $brand-gray);
  @include text-emphasis-variant('.text-gray-blue', $brand-gray-blue);
  @include text-emphasis-variant('.text-gray-darker', $brand-gray-darker);
  @include text-emphasis-variant('.text-gray-dark', $brand-gray-dark);
  @include text-emphasis-variant('.text-gray-light', $brand-gray-light);
  @include text-emphasis-variant('.text-white', $white);