@font-face {
  font-family: 'Onefootball Headline Medium';
  src: url('https://www.onefootball.com/assets/fonts/onefootball_headline_medium.woff') format('woff')
}

@font-face {
  font-family: 'Onefootball Punchline';
  src: url('../fonts/onefootball-punchline.woff') format('woff')
}
