// forms

.form-control, .custom-control {
	font-weight: $font-medium;

	&:disabled,
	&[readonly] {
		@extend %disabled;
	}
}

.custom-select {
	-webkit-appearance: none;
}

.custom-file-input {
	cursor: pointer;
}