// Navbar

.navbar-brand {
	img {
		height: 28px;
	}
}

.nav-link {
	display: block;
	padding: $nav-link-padding-y $nav-link-padding-x;
	color: $brand-gray;
	@include media-breakpoint-down(md) {
		border-left: 4px solid transparent;
		padding-left: $spacer !important;
	}
	@include media-breakpoint-up(lg) {
		border-bottom: 2px solid transparent;
	}
}

.navbar-light {
	.navbar-nav {
		.active > .nav-link,
		.nav-link.active {

			@include media-breakpoint-down(md) {
				border-left-color: $brand-green;
			}
			@include media-breakpoint-up(lg) {
				border-bottom-color: $brand-green;
			}
		}

		.dropdown-toggle {
			border-bottom: 0
		}
	}
}