// Navbar

.navbar-brand {
	img {
		height: 28px;
	}
}

.nav-link {
	border-bottom: 2px solid transparent;
}

.navbar-light {
	.navbar-nav {
		.active > .nav-link,
		.nav-link.active {
			border-bottom: 2px solid $brand-green;
		}

		.dropdown-toggle {
			border-bottom: 0
		}
	}
}