// Onefootball variables

// fonts
  $font-default:  -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  $font-brand:    'Onefootball Medium', $font-default;
  $font-punchline: 'Onefootball Punchline', $font-brand;

/*  Typography
    for more info refer to _typography.scss
*/
  // Mobile typography

  $font-size-root-mobile: 14px;
  $font-size-root-desktop: 16px;

  $font-size-mobile-base:   1rem;       // 14px
  $font-size-mobile-lg:     1.166rem;   // 16px
  $font-size-mobile-sm:     0.916rem;   // 12px
  $font-size-mobile-xs:     0.785rem;   // 11px

  $font-size-mobile-h1:     1.714rem;   // 24px
  $font-size-mobile-h2:     1.571rem;   // 22px
  $font-size-mobile-h3:     1.429rem;   // 20px
  $font-size-mobile-h4:     1.286rem;   // 18px
  $font-size-mobile-h5:     1.143rem;   // 16px
  $font-size-mobile-h6:     1.000rem;   // 14px

  $font-size-mobile-display-1:  3.5rem;     // 42px
  $font-size-mobile-display-2:  3rem;       // 36px
  $font-size-mobile-display-3:  2.285rem;   // 32px
  $font-size-mobile-display-4:  1.75rem;    // 25px

  // Desktop typography
  $font-size-desktop-base:  1rem;       // 16px
  $font-size-desktop-lg:    1.125rem;   // 18px
  $font-size-desktop-sm:    0.875rem;   // 14px
  $font-size-desktop-xs:    0.750rem;   // 12px

  $font-size-desktop-h1:    2.50rem;    // 40px
  $font-size-desktop-h2:    2.000rem;   // 36px
  $font-size-desktop-h3:    2.000rem;   // 32px
  $font-size-desktop-h4:    1.500rem;   // 24px
  $font-size-desktop-h5:    1.313rem;   // 21px
  $font-size-desktop-h6:    1.125rem;   // 18px

  $font-size-desktop-display-1: 8.750rem;   // 140px
  $font-size-desktop-display-2: 5.000rem;   // 80px
  $font-size-desktop-display-3: 3.750rem;   // 60px
  $font-size-desktop-display-4: 3.000rem;   // 44px

/*  Colors */
  // brand colors
  $brand-green:         #32b846;
  $brand-green-dark:    #004c42;
  $brand-green-light:   #b3ff00;

  $brand-turquoise:     #63c3d1;
  // $brand-turquoise-light:

  $brand-red:           #ff4444;
  $brand-red-light:     #FFE4E4;

  $brand-orange:        #f39200;
  $brand-orange-light:  #FEEFD9;

  $brand-blue:          #008ee8;
  $brand-blue-light:    #D9EFFC;

  $brand-gray-blue:     #577288;

  $brand-gray-darker:    #141E28;
  $brand-gray-dark:      #323C46;
  $brand-gray:           #8C96A0;
  $brand-gray-light:     #A0A5AA;
  $brand-gray-lighter:   #E1E6EB;
  $brand-gray-lightest:  #F0F2F5;

  //social
  $facebook:        #4065b4;
  $googleplus:      #d34836;
  $twitter:         #0693e3;
  $whatsapp:        #25d366;

  $brand-gradient-green: linear-gradient(to bottom, $brand-green-dark 0%,$brand-green 100%);
  $brand-gradient-gray: linear-gradient(to bottom, $brand-gray-lightest 0%,#FFF 100%);
  $brand-gradient-gray-inverse: linear-gradient(to top, $brand-gray-lightest 0%,#FFF 100%);


/*  Extras */
  // Gutter space
  $grid-gutter-desktop:     18px;
  $grid-gutter-mobile:     24px;

  // Nav height
  $nav-height-mobile: 3.5rem;
  $nav-height-desktop: 4.285rem;

  // Border-radius
  $border-radius-base: 8px;

/*  Spacing */
  // for more info refer to _spacing.scss

  $base-spacing: 8px;

$transition-default: all .350s ease-in-out;