{{!-- Forms --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
				<strong class="text-lg">For more: <a href="http://getbootstrap.com/docs/4.0/components/forms/" target="_blank">Bootstrap forms docs</a></strong>
			</div>
		</div>
		<div class="col-24 mt-4">
			<p class="text-info mt-4"><strong>— Form example 1</strong></p>
		</div>
		<div class="col-24">
			<form>
				<div class="form-group">
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="customCheck1">
						<label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
					</div>
				</div>
				<button type="submit" class="btn btn-primary disabled my-2">Submit</button>
			</form>
		</div>
		<div class="col-24 mt-4">
			<hr class="mt-4" />
			<p class="text-info mt-4"><strong>— Form example 2 - lg size</strong></p>
		</div>
		<div class="col-24">
			<form>
				<div class="form-group">
					<input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="form-group">
					<div class="form-group">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck11">
							<label class="custom-control-label" for="customCheck11">Check this custom checkbox</label>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-lg my-2">Submit</button>
			</form>
		</div>
		<div class="col-24 mt-4">
			<hr class="mt-4" />
			<p class="text-info mt-4"><strong>— Form example 3</strong></p>
		</div>
		<div class="col-24 mt-4">
			<form>
				<div class="form-group row">
					<label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputSelect3" class="col-sm-3 col-form-label">Dropdown</label>
					<div class="col-sm-10">
						<select name="" id="" class="form-control">
							<option value="">option No. 1</option>
							<option value="">option No. 2</option>
							<option value="">option No. 3</option>
						</select>
					</div>
				</div>
				<fieldset class="form-group">
					<div class="row mt-2">
						<legend class="col-sm-3 col-form-label">Radios</legend>
						<div class="col-sm-10">
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
							</div>
							<div class="custom-control custom-radio">
								<input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
								<label class="custom-control-label" for="customRadio3">One more for the team</label>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="form-group row">
					<div class="col-sm-3">Checkbox</div>
					<div class="col-sm-10">
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customCheck3">
								<label class="custom-control-label" for="customCheck3">Check this custom checkbox</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Sign in</button>
					</div>
				</div>
			</form>
		</div>

		<div class="col-24 mt-4">
			<hr class="mt-4" />
			<p class="text-info mt-4"><strong>— Form example 4</strong></p>
		</div>
		<div class="col-24 mt-4">
			<form class="form-inline">
				<div class="form-group">
					<label for="staticEmail2" class="sr-only">Email</label>
					<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
				</div>
				<div class="form-group mx-sm-3">
					<label for="inputPassword2" class="sr-only">Password</label>
					<input type="password" class="form-control" id="inputPassword2" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary">Confirm identity</button>
			</form>
		</div>

		<div class="col-24 mt-4">
			<hr class="mt-4" />
			<p class="text-info mt-4"><strong>— Form states</strong></p>
		</div>

		<div class="col-24">
			<form>
				<div class="form-group">
					<input type="email" class="form-control is-invalid" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text invalid-feedback">Something wrong here</small>
				</div>
				<div class="form-group">
					<input type="email" class="form-control is-valid" id="exampleInputEmail12" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text valid-feedback">Looks good</small>
				</div>
				<div class="form-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input is-invalid" id="customCheck141">
						<label class="custom-control-label" for="customCheck141">Check this custom checkbox</label>
					</div>
				</div>
				<button type="submit" class="btn btn-primary disabled my-2">Submit</button>
			</form>
		</div>

	</div>
</div>