// Override Bootstrap's default alert mixin

@mixin alert-variant($background, $border, $color) {
  color: $color;
  background-color: tint($background, 96%);
  border-color: tint($background, 60%);
}


@mixin text-emphasis-variant($parent, $color) {
	#{$parent} {
		color: $color !important;
		fill: $color !important;
	}
	a#{$parent} {
		@include hover-focus {
			color: darken($color, 10%) !important;
			fill: darken($color, 10%) !important;
		}
	}
}
