{{!-- title + img/icon --}}
<div class="col-8 col-sm-7 col-md-5 col-lg-3 col-scroll">
	<a href="#" class="d-block">
		<div class="elevated elevated-hover pt-xl pb-xl rounded" style="background-color: {{color}};">
			<img src="{{img}}" class="mx-auto square square-lg-lg square-lg d-block" />
		</div>
		<p class="text-center text-sm mb-0 mt-md text-gray-light text-muted">{{name}}</p>
	</a>
</div>