{{!-- title + img/icon --}}
<div>
	{{#if tag}}
		<{{tag}} class="m-0">
			<img src="https://emojipedia-us.s3.amazonaws.com/thumbs/320/apple/96/fire_1f525.png" class="icon-default mr-md" />{{text}}
		</{{tag}}>
	{{/if}}
	{{#else}}
		<p>text</p>
	{{/else}}
</div>