{{!-- Typography --}}

<div class="container">
	<div class="row">
		<div class="col-24">
			<h1>This is Heading 1</h1>
			<h2>This is Heading 2</h2>
			<h3>This is Heading 3</h3>
			<h4>This is Heading 4</h4>
			<h5>This is Heading 5</h5>
			<h6>This is Heading 6</h6>
			<hr />
			<p class="lead">
			  This is teaser text to make a paragraph stand out
			</p>
			<p class="text-lg">This paragraph is large</p>
			<p class="text-base">This paragraph is default size</p>
			<p class="text-sm">This paragraph is small</p>
			<p class="text-xs">This paragraph is extra small</p>
			<hr />
			<p>You can use the mark tag to <mark>highlight</mark> text.</p>
			<p><u>This line of text will render as underlined</u></p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p><strong>This line rendered as bold text.</strong></p>
			<p><em>This line rendered as italicized text.</em></p>
			<p class="text-lg"><strong>for more: <a href="https://getbootstrap.com/docs/4.0/content/typography/" target="_blank">Bootstrap typography docs</a></strong></p>
		</div>
	</div>
</div>