{{!-- Typography --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
					<strong class="text-lg">For more: <a href="https://getbootstrap.com/docs/4.0/content/typography/" target="_blank">Bootstrap typography docs</a></strong>
				</div>
		</div>
		<div class="col-24">
			<h4 class="text-info mt-4 mb-3 font-brand">— Heading Display Default</h4>
			<h1 class="display-1 text-display mt-6">Display Heading 1</h1>
			<h1 class="display-2 text-display mt-6">Display Heading 2</h1>
			<h1 class="display-3 text-display mt-6">Display Heading 3</h1>
			<h1 class="display-4 text-display mt-6">Display Heading 4</h1>

		</div>
		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Heading Display + Brand font</h4>

			<h1 class="display-1 text-display font-brand mt-6">Display Heading 1</h1>
			<h1 class="display-2 text-display font-brand mt-6">Display Heading 2</h1>
			<h1 class="display-3 text-display font-brand mt-6">Display Heading 3</h1>
			<h1 class="display-4 text-display font-brand mt-6">Display Heading 4</h1>
		</div>
		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Heading Display + Punchline font</h4>

			<h1 class="display-1 text-display font-punchline mt-6">Display Heading 1</h1>
			<h1 class="display-2 text-display font-punchline mt-6">Display Heading 2</h1>
			<h1 class="display-3 text-display font-punchline mt-6">Display Heading 3</h1>
			<h1 class="display-4 text-display font-punchline mt-6">Display Heading 4</h1>
		</div>

		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Heading</h4>
			<h1>This is Heading 1</h1>
			<h2>This is Heading 2</h2>
			<h3>This is Heading 3</h3>
			<h4>This is Heading 4</h4>
			<h5>This is Heading 5</h5>
			<h6>This is Heading 6</h6>
		</div>

		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Heading + Brand font</h4>
			<h1 class="font-brand">This is Heading 1</h1>
			<h2 class="font-brand">This is Heading 2</h2>
			<h3 class="font-brand">This is Heading 3</h3>
			<h4 class="font-brand">This is Heading 4</h4>
			<h5 class="font-brand">This is Heading 5</h5>
			<h6 class="font-brand">This is Heading 6</h6>
		</div>
		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Paragraphs</h4>
			<p class="lead">
			  This is teaser text to make a paragraph stand out
			</p>
			<p class="text-lg">This paragraph is large</p>
			<p class="text-base">This paragraph is default size</p>
			<p class="text-sm">This paragraph is small</p>
			<p class="text-xs">This paragraph is extra small</p>
		</div>
		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Paragraph variations</h4>
			<p>You can use the mark tag to <mark>highlight</mark> text.</p>
			<p><u>This line of text will render as underlined</u></p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p><strong>This line rendered as bold text.</strong></p>
			<p><em>This line rendered as italicized text.</em></p>
		</div>
		<div class="col-24">
			<hr class="mt-4" />
			<h4 class="text-info mt-4 mb-3 font-brand">— Color variations</h4>
			<p class="text-primary">.text-primary</p>
			<p class="text-primary-light bg-primary-dark">.text-primary-light</p>
			<p class="text-primary-dark">.text-primary-dark</p>
			<p class="text-success">.text-success</p>
			<p class="text-danger">.text-danger</p>
			<p class="text-warning">.text-warning</p>
			<p class="text-info">.text-info</p>
			<p class="text-gray-blue">.text-gray-blue</p>
			<p class="text-gray-darker">.text-gray-darker</p>
			<p class="text-gray-dark">.text-gray-dark</p>
			<p class="text-muted">.text-muted</p>
			<p class="text-white bg-primary-dark">.text-white</p>
		</div>
	</div>
</div>