{{!-- card-default --}}


<div class="container">
	<div class="row">
		<div class="col-24">
				{{> @text-default tag="h1" text="Top Stories" }}
		</div>
	</div>
	<div class="row">
		{{> @card-default className="mt-lg" title="New Barcelona signing Dembele denies feeling pressure of €105m price tag" }}
		{{> @card-default className="mt-lg" title="New Barcelona signing Dembele denies feeling pressure" }}
		{{> @card-default className="mt-lg" title="New Barcelona signing Dembele denies feeling pressure of €105m price tag" }}
		{{> @card-default className="mt-lg" title="New Barcelona signing Dembele denies feeling pressure New Barcelona signing Dembele denies feeling pressure" }}
	</div>
</div>