<div class="container mt-7">
	<div class="row">
		<div class="col-24">
			<h4 class="text-info mb-3">— Import Match</h4>
			<div class="p-4 bg-gray-lightest rounded-lg">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Search for team" aria-label="Search for team" />
				  <select name="" id="" class="custom-select">
				  	<option value="">Match 1</option>
				  	<option value="">Match 2</option>
				  	<option value="">Match 3</option>
				  </select>
				  <div class="input-group-append">
				    <button class="btn btn-info" type="button">Import</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>