<div class="row">
	<div class="col-24 mt-4">
		<div class="bg-gradient-primary-diagonal p-3 rounded-lg d-flex align-items-center elevated-2">
			<div>
				<h5 class="text-white font-weight-semibold">{{title}}</h5>
				<p class="text-sm text-gray-lighter m-0">{{subtitle}}</p>
			</div>
			<a href="admin-galleries-entities" class="text-white ml-auto">View Galleries</a>
		</div>
	</div>
</div>