<a href="#" class="arrow arrow-{{direction}} position-absolute center-absolute m-auto rounded-circle size-3 bg-gray-lightest text-gray-darker">
	<img class="position-absolute center-absolute size-lg inject-me" src="{{path '/assets/img/icons/ic_arrow_{{direction}}_24px.svg' }}" />
</a>