{{!-- title + img/icon --}}
<div class="col col-scroll col-entity-tile">
	<a href="#" class="d-block text-gray-blue">
		<div class="elevated-hover pt-4 pb-4 rounded" style="background-color: {{color}};">
			<img src="{{img}}" class="mx-auto size-3 d-block" />
		</div>
		<p class="text-center mb-0 mt-3 text-gray-blue text-truncate">{{name}}</p>
	</a>
</div>