<footer id="footer" class="mt-7 bg-gray-lightest">
	<div class="container">
		<div class="row pt-5">
			<div class="col-24">
				<p class="m-0 text-center text-lg">
					{{> @badge text="Revision: 67891a4" color="info"}}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-24 mt-5 mb-5">
				<p class="text-center text-gray-blue text-sm">Onefootball Newsdesk</p>
			</div>
		</div>
	</div>
</footer>