{{!-- tabs --}}
<ul class="nav nav-pills {{className}}">
	<li class="nav-item">
		<a class="nav-link active" href="#">{{link-1}}</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">{{link-2}}</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">{{link-3}}</a>
	</li>
</ul>